<!-- data-set / pages / detail.component -->
<div class="detail-container pl-0 pr-0 container-fluid d-flex">
    <div class="header-metadata ml">
        <!-- TODO: this text in {{}} for internationalisation -->
        <div>Details</div>
        <!-- <div *ngIf="film?.length"> -->
            <!-- TODO: Replace it with "close" button -->
        <div (click)="closePixelartDetails()">X</div>
        <div>
            <!-- TODO: Use <app-manage-pixelart> component instead. See how to name buttons! -->
            <mat-card >
                <mat-card-content>
                    <mat-card-title>
                        <!-- If pixelartItem set to private in the .ts, then it only works
                            with a get pixelartName() method, what we call then like this here: -->
                              <!-- {{ pixelartItemName }} -->
                             <!-- TODO: in console, error: Cannot read properties of undefined, but it prints correctly out! ??? -->
                        {{ pixelartItem.name }}

                    </mat-card-title>

                    <mat-card-actions>
                        <button mat-button (click)="editPixelart(pixelartItem)">Edit art</button>
                        <button mat-button (click)="deletePixelart(pixelartItem)">Delete art</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

