<!-- data-set / pages / detail.component -->
<div class="detail-container">
    <div class="detail-header">
        <!-- TODO: this text in {{}} for internationalisation -->
                    <!-- Error in console: Cannot read properties of undefined, but it prints out details correctly! -->
                    <!-- Source of solution: https://stackoverflow.com/questions/53857932/typeerror-cannot-read-property-of-undefined-but-site-works-accurately-angul -->
        <!-- ALSO: I am repeting the code from manage-pixelart.html!!! -->
        <div class="detail-title">Details</div>
        <!-- TODO: Replace it with "close" button -->
        <div class="close-button" (click)="closePixelartDetails()">X</div>
    <div class="detail-content">
        <!-- TODO: Use <app-pixelart-card> component instead. See how to name buttons! -->
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    {{ pixelartToDisplay.name }}
                </mat-card-title>

                <app-pixelart-card
                    [pixelartItem]="pixelartToDisplay"
                    [index]="pixelartToDisplay.id">
                </app-pixelart-card>

                <mat-card-actions *ngIf="isSignedin && allowToUpdate">
                    <button mat-button (click)="editPixelart()">Edit art</button>
                    <button mat-button (click)="deletePixelart()">Delete art</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
</div>

