.detail-container {
    display: flex;
    justify-content: center;
}

.close-create-pixelart {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: #6cd79b;
    margin-bottom: 10px;
}

.close-create-pixelart:hover {
    color: mediumseagreen;
}

h1 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    color: mediumseagreen;
    justify-self: center;
}