<!-- sign-up.component -->
<div class="detail-container pl-0 pr-0 container-fluid">
    <div class="header-metadata ml">
        <!-- TODO: this text in {{}} for internationalisation -->
        <div>Create New PixelArt</div>  
        <!-- <div *ngIf="film?.length"> -->
            <!-- TODO: Replace it with "close" button -->
        <div (click)="closeCreateNewPixelart()">X</div>
        <div>
            <app-manage-pixelart
            [pixelartItem]="newPixelartModel"
            (savedAction)="onSaveCreatePixelart($event)"
            (cancelledAction)="onCancelGoBackToCatalog()">
            </app-manage-pixelart>       
        </div>
    </div>
</div>

