<!-- 2nd solution -->
<div *ngIf="isSignedin" ngFor="signedinUser">
	<p>Welcome back, {{ signedinUser?.alias }}!
  </p>
  <p>List of your pixelArts:</p>
	<!-- <div *ngFor="let pixelart of pixelarts">
		<app-pixelart-card></app-pixelart-card> or pixelart-list ???
    <p>{{ pixelart.name }}</p>
	</div> -->
  <div *ngIf="signedinUser?.pixelarts?.length">
    TODO: akkor irja ki az elemet, ha letezik!
    <!-- My pixelarts <<< éventuellement reprendre PortfolioComponent, quand on clique dessus, et
    un fejlec apparait avec My Pixelarts, + dans l'url: /my-pixelart -->
    <ul *ngFor="let pixelart of signedinUser?.pixelarts">
        <!-- ici, si je ne respecte pas l'appellation des propriétés de mon code Java,
        il faudra faire le mapping dans le service, comme c'est le cas actuellement -->
        <li>{{ pixelart.name}}</li>
    </ul>
  </div>
    <!-- "Manage user account" button to insert here!
	  <p><a style="text-decoration: underline; cursor: pointer;" (click)="deleteAccount(idUser)">Delete account</a></p> -->
</div>






<!-- TODO: atirni, h ez a private access, es hogy a token-t ne adjam ki!!!
Csak: alias, email, my-pixelart lista -->

<!-- <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.alias }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
  </div>
  <ng-template #loggedOut>
    Please login.
  </ng-template> -->
