<!-- submission-project.component, project-submission.service.ts -->
<div class="update-container">
    <!-- <div class="update-header"> -->
        <!-- TODO: this text in {{}} for internationalisation -->
        <!-- <div class="update-title">Edit Details</div> -->
    <!-- </div> -->
    <div class="update-content">
        <app-manage-pixelart
        [pixelartSimpleItem]="pixelartItemToUpdate"
        (savedAction)="onSaveUpdatePixelart($event)"
        (cancelledAction)="onCancelGoBackToDetails()">
        </app-manage-pixelart>
    </div>
</div>


