        <!--TODO: complete with [ngClass] and mediasize, having max 4 in a row!!! -->
        <!-- TODO: prepare reusable button for 'Details' -->
        <!-- TODO: obviously the button is not visible when inside app-pixelart-card -->
        <!-- TODO: see if list-container is possibly reusable for my-profile allPixelart of connected user! -->
<div class="list-container">
    <div class="pixelart-grid">
        <app-pixelart-card
            *ngFor="let pixelartItem of pixelartItemsList; let i = index"
            [pixelartItem]="pixelartItem"
            [index]="i">
        </app-pixelart-card>
    </div>
</div>
