<!-- TODO: something should be set here and in detail-component,, as we are navigating from here to there.
There is link between pixelart-card and list-container-->

<div>
        <!-- TODO: mediasize parameters to complete here! -->
        <div>
            <div class="title"> <!--<app-page-title> component to create!!! -->
                Catalog - temporary title
            </div>
            <app-list-container></app-list-container>
            <!-- <app-manage-pixelart
            [pixelartItem]="pixelartItemToCreate"
            (savedAction)="onSaveCreatePixelart($event)"
            (cancelledAction)="onCancelGoBackToCatalog()">
            </app-manage-pixelart>
            <button mat-button (click)="createPixelart()">Create art</button> -->

        </div>
</div>
