<!-- TODO: see RUDI: sign-up.component.html!!! -->
<!-- 1st solution -->
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"/>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="onSubmit()"
      #f="ngForm">
      <div class="form-group">
        <label for="alias">Alias</label>
        <input
          type="text"
          id="alias"
          class="form-control"
          ngModel
          name="alias"
          required
          minlength="3"
          maxlength="20"
          #alias="ngModel">
        <div
          class="help-block"
          role="alert"
          *ngIf="alias.errors && alias.touched && alias.invalid">
          <div *ngIf="alias.errors['required']">Alias is required</div>
          <div *ngIf="alias.errors['minlength']">Alias must be at least 3 characters</div>
          <div *ngIf="alias.errors['maxlength']">Alias must be at most 20 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel">
        <div
          class="help-block"
          role="alert"
          *ngIf="email.errors && email.touched && email.invalid">
          <div *ngIf="email.errors['required']">Please enter a valid email</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <!-- TODO: attenni 10-re! -->
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="9"
          #password="ngModel">
        <div
          class="help-block"
          role="alert"
          *ngIf="password.errors && password.touched && password.invalid">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">Password must be at least 9 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          type="submit"
          [disabled]="!f.valid">Sign Up
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-warning"
          role="alert"
          *ngIf="f.submitted && isSignUpFailed">
          <!-- *ngIf="f.submitted && isSignUpFailed && f.dirty && f.touched" -->
          <!-- Signup failed:
          <div *ngIf="aliasExists && emailExists">This alias and email exist already.</div>
          <div *ngIf="aliasExists && !emailExists">This alias exists already. Please choose another one.</div>
          <div *ngIf="emailExists && !aliasExists">This email exists already. Please choose another one.</div> -->
          Signup failed: {{ errorMessage }}
        </div>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSignupSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>

<!-- 2nd solution -->
<!-- <div id="signup-box">
	<h2>Signup Here</h2>
	<div style="color : red" *ngIf='error'>{{error}}</div>
	<div style="color : green" *ngIf='success'>{{success}}</div>
	<form name='signupForm' (submit)="doSignup()">
		<table>
			<tr>
				<td>Alias:</td>
				<td><input type='text' name='alias' [(ngModel)]="alias"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type='text' name='email' [(ngModel)]="email"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' [(ngModel)]="password"/></td>
			</tr>

			<tr>
				<td><input name="submit" type="submit" value="Signup" /></td>
				<td>Have an account? <a routerLink="/login">Login</a></td>
			</tr>
		</table>
	</form>
</div> -->